body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #646464;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    text-transform: uppercase;
    color: #121212;
}

span{
    text-transform: lowercase;
}

/* HEADER */

header{
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header h2{
    text-transform: uppercase;
    margin-left:66px;
    font-size: 16px;
}

header nav ul {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-right: 66px;
}

header nav ul a {
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
}

header nav ul a:visited {
    text-decoration: none;
    color: black;
}

header nav ul li:last-child {
    position: relative;
}

header nav ul li:last-child:after {
    content: "\e900";
    font-family: "icomoon";
    color: black;
    position: absolute;
    right: -30px;

  }

.mobile {
    display: none;
}


/* SLIDER SECTIE*/

.slider {
    background-image: url("../images/backgroundindex.jpeg");
    height: 400px;
}

.slider h1 {
    color: #e7e34f;
    font-size: 80px;
    font-weight: bold;
    padding-top: 120px;
}

/* TEXT-BLOK SECTIE */

.cols {
    margin-top: 97px;;
    display: flex;
    gap: 97px;
    margin-bottom: 35px;
}

.cols h3 {
    margin-bottom: 41px;
    letter-spacing: 2px;
}

.cols article {
    width: 66%
}

.cols p {
    font-size: 14px;;
    text-align: justify;
}

.cols article a {
    color:#959364;
    text-decoration: none;;
}

.cols article p:last-child {
    margin-top: 28px;
}

.cols aside{
    width: 33%;
}

.cols aside a {
    display: block;
    margin-top: 28px;
    color: #959364;
    text-decoration: none;
}

/* IMG SECTIE*/

.images {
    position: relative;
}

.img-cols {
    margin-top: 100px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
}

.imgHolder {
    aspect-ratio: 19/9;
    flex: 1 1 300px;
    position: relative;
}

.imgHolder img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}


.img-info{
    position: absolute;
    bottom: 13px;
    left: 23px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.img-info h4{
    font-size: 22px;
    font-weight: bold;
    color:#e7e34f;
    text-transform: uppercase;
}

.img-info p:first-of-type {
    font-size: 15px;
    color: white;
}

.img-info p:last-of-type{
    font-size: 12px;
    color: white;
}


/* Bedenking: 
    in de opgave is de border boven en beneden breder 
    dan de container (op 1500px width). Ik heb dus gekozen voor een psuedo-element
    want ik vermoed niet dat je een border kan stretchen...
    de border verkleint wel naarmate het scherm verkleint.
 */
.images:before {
    content:"";
    display:block;
    position:absolute;
    left: 10%;
    top:-50px;
    width:80%;
    border-top:1px solid black;
   }

   .images:after {
    content:"";
    display:block;
    position:absolute;
    left: 10%;
    bottom:-50px;
    width:80%;
    border-top:1px solid black;
   }


/* CONTACT FORMULIER  */

.contact {
    margin-top: 160px;
}

.form {
    display: flex;
    gap: 150px;
}

.form .contact-form {
    width: 66%;
}
.form aside {
    width: 33%;
}

form {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 1px solid #646464;
    font-family: inherit;
}

form textarea {
    height: 110px;
}

button {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 114px;
    background: inherit;
    width: 160px;
    height: 35px;
    font-family: inherit;
    border: 1px solid #646464;
}

button a {
    text-decoration: none;
}

button a:visited {
    text-decoration: none;
    color: black;
}

aside h3{
    margin-bottom: 38px;
}

aside li{
    padding: 3px;
}

.contact-details {
    margin-top: 28px;
}

.contact-details a {
    color: #959364;
    display: inline-block;
}

aside ul:last-of-type {
    margin-top: 85px;
}

aside ul a {
    text-decoration: none;
    margin-right: 25px;
    display: block;
    color: #e7e34f;
}

aside ul:last-of-type {
    display:flex;
    gap: 20px;
}


.youtube:after {
    content: "\e901";
    font-family: icomoon;
    display: inline-block;
    transform: scale(2.5);

}

.instagram:after {
    content: "\e902";
    font-family: icomoon;
    display: inline-block;
    transform: scale(2.5);
}

.facebook:after{
    content: "\e903";
    font-family: icomoon;
    display: inline-block;
    transform: scale(2.5);
}

.twitter:after{
    content: "\e904";
    font-family: icomoon;
    display: inline-block;
    transform: scale(2);
}

/* FOOTER */

footer {
    background: #3f3f3f;
    height: 50px;
}

footer p {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

footer p span:last-of-type{
    text-transform: capitalize;
}


/* MEDIA QUERIES  */

@media screen and (max-width: 850px) {

    .form {
        display: flex;
        gap: 50px;
    }
}

@media screen and (max-width: 750px) {
    .cols {
        display: flex;
        flex-direction: column;
    }

    .cols article {
        width: 100%
    }

    .cols aside {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    header nav ul {
        gap: 10px;
    }
    header nav ul a{
        font-size: 10px;;
    }
}

@media screen and (max-width: 550px) {
    header nav ul {
        display: none;
    }
    .slider h1{
        font-size: 60px;
    }
    .mobile {
        display: block;
        text-decoration: none;
        margin-right: 30px;
        font-size: 30px;;
    }
    .mobile {
        text-decoration: none;
        color: #121212;
    }
    .mobile:visited {
        color: #121212;
    }
    .form {
        flex-direction: column;
        gap: 0;
    }
    .form .contact-form {
        width: 100%;
        padding-bottom: 20px;
    }
    .form aside {
        width: 100%;
    }   
    aside ul:last-of-type {
        margin: 50px 0 20px 20px;
    }
    footer p {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .slider h1 {
        font-size: 40px;
    }
}